.Weather {
  border: 2.5px solid #131e4470;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  max-width: 450px;
  margin: auto;
}

.search-engine {
  text-align: center;
}

.search-bar, .search-bar:focus {
  border-radius: 10px;
  color: #215374cc;
  padding: 5px;
  margin-right: 4px;
  border-color: #131e4470;
  padding-left: 10px;
  border-style: ridge;
}


.search-btn {
  border-radius: 10px;
  color: #fdfdff;
  padding: 5px;
  margin-left: 4px;
  border-color: #fdfdff;
  background-color: #2153749a;
  border-style: ridge;
}

.search-btn:hover, .search-bar:active {
  color: #142835ce;
  border-color: #131e4470;
  background-color: #fdfdff;
}

.day-and-time {
  font-size: 1.1em;
}

.current-condition {
  text-align: right;
  max-height: 90px;
}

.temperature {
  font-size: 1.7em;
  position: relative;
  z-index: 10;
}

.unit-current {
  position: relative;
  right: 0.2rem;
  bottom: 0rem;
  z-index: 5;
  opacity: 0.8;
  font-size: large;
}

.unit-change {
  position: relative;
  right: 0.2rem;
  bottom: 0rem;
  z-index: 5;
  opacity: 0.5;
  font-size: large;
}

img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  background-color: #0f929210;
}

.current-icon {
  position: relative;
  top: -6.9rem;
  left: 1.5rem;
  z-index: 10;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.w-h-f {
  text-align: left;
  border-left: 1.5px solid #131e4470;
  max-height: 90px;
}

p {
  color: #215374cc;
}

.city, .current-temp {
  color: #142835ce;
}

footer p {
font-size: x-small;
}