.Weather {
  border: 2.5px solid #131e4470;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  max-width: 450px;
  margin: auto;
}

.search-engine {
  text-align: center;
}

.search-bar, .search-bar:focus {
  border-radius: 10px;
  color: #215374cc;
  padding: 5px;
  margin-right: 4px;
  border-color: #131e4470;
  padding-left: 10px;
  border-style: ridge;
}


.search-btn {
  border-radius: 10px;
  color: #fdfdff;
  padding: 5px;
  margin-left: 4px;
  border-color: #fdfdff;
  background-color: #2153749a;
  border-style: ridge;
}

.search-btn:hover, .search-bar:active {
  color: #142835ce;
  border-color: #131e4470;
  background-color: #fdfdff;
}
.current-condition {
  text-align: right;
}
.temperature {
  font-size: 1.8em;
  position: relative;
  left: 2.5rem;
  z-index: 10;
}

.unit {
  position: relative;
  left: 2.5rem;
  bottom: 1rem;
  z-index: 5;
  opacity: 0.75;
}

.icon {
  height: 3em;
  width: auto;
  position: relative;
  top: 0.8rem;
  left: 0.5rem;
  z-index: -5;
}

.w-h-f {
  text-align: left;
  border-left: 1.5px solid #131e4470;
}

p {
  color: #215374cc;
}

.city, .current-temp {
  color: #142835ce;
}

footer p {
font-size: x-small;
}